element.style {
}
.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.promo-banner-container {
    max-width: 730px;
    margin: auto;
    padding-top: 8px;
}
.flickity-enabled {
    position: relative;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    margin: 0!important;
    background-color: #FF6C2C;
    font-family: Lato,'Noto Sans';
}
user agent stylesheet
html {
    color: -internal-root-color;
}